@CHARSET "ISO-8859-1";
#hdw_status
{
	width:49%;
	height:25px;
	background:#DFF2BF;
	color:#4F8A10;
	border: 1px solid;
	padding:5px 0px 0px 10px;
	display:none;
}
#settingstable
{
	border:none; 
	width:100%;
}
#settingsheadingrow td
{
	cursor:pointer;
	border:1px solid #ccc;
	text-align:center;
	width:16.5%;
}
#playersettings
{
	font-weight:bold;
	background:#fcfcf5
}
#settingsbody
{
	width:100%;
	border:1px solid #ccc;
}
#playerlists
{
	width:100%;
}
#insertvideo, #hdwgallerydiv
{
	width:100%;
	display:none;
}
#insertvideo table, #hdwgallerydiv table
{
	border:none;
	width:45%;
}
#insertvideo table tr td, #hdwgallerydiv table tr td
{
	border:none;
}
#videodetails, #playlistdetails, #gallerydetails
{
	display:none;
}
#insertplaylist, #updateplaylistcontent
{
	display:none;
	width:100%;
}
#updateplaylistcontent table
{
	border:none;
	width:40%;
}
#updateplaylistcontent table tr td
{
	border:none;
}
#insertplaylist table
{
	border:none;
	width:40%;
}
#insertplaylist table tr td
{
	border:none;
}
#documentationdiv, #hdwgallerydiv, #gallerytotalcontent
{
	display:none;
}
#addvideo, #savevideo, #addplaylist, #saveplaylist, #updateplaylistbutton, #saveplayer, #updateplayerbutton,
	#updatevideobutton, #deletevideos, #addplayer, #deleteplayer, #restorecolor, #addgallery, #savegallery,
	#updategallerybutton, #savelogo
{
	font-weight:bold;
	border-radius:3px;
	color:white;
	width:90px;
	height:25px;
	cursor:pointer;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #3D9FF0), color-stop(100%, #3D76A3));
 	background: -moz-linear-gradient(top, #ccc, #fff);
}
#addvideo:hover, #savevideo:hover, #addplaylist:hover, #saveplaylist:hover, #updateplaylistbutton:hover, #saveplayer:hover, #updateplayerbutton:hover,
	#updatevideobutton:hover, #deletevideos:hover, #addplayer:hover, #deleteplayer:hover, #restorecolor:hover,
	#addgallery:hover, #savegallery:hover, #updategallerybutton:hover, #savelogo:hover
{
	background: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #3D76A3), color-stop(100%, #3D9FF0));
 	background: -moz-linear-gradient(top, #ccc, #fff);
}
#cancelplaylist, #cancelvideo, #cancelupdateplaylist, #cancelvideo_update, #cancelplayer, #cancelplayer_update, 
	#cancelgallery, #cancelgallery_update
{	
	font-weight:bold;
	border-radius:3px;
	color:black;
	width:90px;
	height:25px;
	cursor:pointer;
	border:1px solid #4682B4;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #fff), color-stop(100%, #ccc));
 	background: -moz-linear-gradient(top, #ccc, #fff);
}
#cancelplaylist:hover, #cancelvideo:hover, #cancelupdateplaylist:hover, #cancelvideo_update:hover, #cancelplayer:hover, 
	#cancelplayer_update:hover, #cancelgallery:hover, #cancelgallery_update:hover
{
	background: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #ccc), color-stop(100%, #fff));
 	background: -moz-linear-gradient(top, #ccc, #fff);
}
#videotitle, #videotype, #videourl, #videohdurl, #videopreview, #videothumb, #updateplaylistname,
	#videoplaylist, #playlistname, #videostreamer, #videotoken, #selectplaylist, #width, #height,
	#skinmode, #stretch, #autoplay, #buffer, #volumelevel, #controlbar, #playpause, #progressbar,
	#timer, #share, #volume, #fullscreen, #playdock, #playlistdock, #singlevideoid, #playlistopen,
	#playlistautoplay, #playerplaylist, #galleryname, #galleryrows, #gallerycolumns, #gallerylimit,
	#gallerywidth, #galleryheight, #galleryspace, #playergallery, #galleryoption,
	#hdw_logo, #hdw_target, #hdw_position, #hdw_alpha
{
	color:black;
 	height:20px;
	border:1px solid #ccc; 
	width:150px;
 	border-radius:3px;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #fff), color-stop(100%, #ccc));
	background: -moz-linear-gradient(top, #ccc, #fff);
}
#videototalcontent, #playlisttotalcontent, #updatebuttons, #playerdetails, 
	#saveplayer, #cancelplayer, #updateplayerbutton, #cancelplayer_update
{
	display:none;
}
#playerdetails
{
	font-size:12px;
	border:none;
	width:100%;
}
#playerlists table td
{
	border:none;
}
#singlevideoid, #playerplaylist, #videoplaylist
{
	overflow:auto;
}
#hdwfile
{
	width:180px;
}
#uploadbutton
{
	background:rgb(115, 115, 156);
	color:white;
	width:60px;
	height:21px;
	border-radius:3px;
}
#uploadstatus
{
	margin-right:50px; 
	height:22px; 
	display:none; 
	float:right;
}